<div class="container">
    <h1>Agregar foto a la galería</h1>
    <div class="row justify-content-center mb-5">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <form action="/admin/galeria/agregar" method='post'>
                        <div class="form-group my-3">
                            <input type="text" class="form-control" placeholder="Título" name="titulo" required>
                        </div>
                        <div class="form-group my-3">
                            <input type="text" class="form-control" placeholder="Descripción" name="descripcion"
                                required>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="text-center">
                                    <button type="submit" class='btn btn-success btn-block'><i class="far fa-save"></i> Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            {{#if error}}
                <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>